html{

}

body{
    font-family:"adelle-sans","Helvetica Neue",Arial,sans-serif;
    background-color: #E9EDF2;
    width: 100%;
    height: 100%;
    text-align: center;
}

header{

}

.customers{
    background-color: #E9EDF2;
    border-top: 1px solid rgba(0,0,0,0.15);
}

.all-brands{
    background-size: 1120px 140px;
}

.free-month-register{
    background-color: #fff;
    padding-bottom: 6em;
    border-top: 1px solid rgba(0,0,0,0.15);
        border-top-color: rgba(0, 0, 0, 0.15);
        border-top-style: solid;
        border-top-width: 1px;
}
}

.top-free-month{}

.register-form{}

.active-sec{}

.data-safe{}

